.cover__logo {
  font-size: 20px;
  color: #fff;
  z-index: -2 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cover__logo img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

@media (min-width: 900px) {
  .cover__logo img {
    width: 44px !important;
    height: 44px !important;
  }
}

@media (min-width: 1200px) {
  .cover__logo {
    font-size: 32px;
  }

  .cover__logo img {
    width: 62px !important;
    height: 62px !important;
  }
}
