.desktop__download .banner .banner__content .button__base {
  padding: 15px 20px !important;
  background-color: rgba(255, 255, 255, 0.168) !important;
  font-size: 15px;
  font-weight: bold;
  color: #fff !important;
  max-width: 500px;
  transition: 0.3s ease-in-out;
}

.react-parallax img {
}

.middle__banner {
  background-image: linear-gradient(9deg, #7b0d93 0%, #ef5b00 100%),
    url(../../assets/images/desktop-download-page/coding-background-texture.jpg);
  background-blend-mode: overlay;
}

@media (min-width: 900px) {
  .desktop__download .banner .banner__content .button__base {
    padding: 18px 100px !important;
    font-size: 20px;
  }
}
